* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 50px;
  margin-top: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: purple;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: yellow transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
