.card{
    width: 400px;
    height: 400px;
    background-color: burlywood;
    box-shadow: 10px 10px 5px #aaaaaa;
}

img{
    height: 200px;
    width: 400px;
}

a{
    color: chocolate;
    margin: 4px 4px 4px 0px;
}

h3{
    font-weight: bolder;
    margin: 4px 4px 4px 0px;
}

p{
    margin: 4px 4px 4px 0px;
}