/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilites */
.margin-bottom-small {
  margin-bottom: 10px;
}
.margin-top-big {
  margin-top: 20px;
}

/* Components */
.btn-white {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  position: relative;
  right: -30px;
  top: -15px;
}
.btn-white:hover {
  background-color: #fff;
  color: #000;
}
.btn-dark {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  border: 3px solid #171a20;
  color: #171a20;
  font-size: 12px;
  display: inline-block;
}
.btn-dark:hover {
  background-color: #171a20;
  color: #fff;
}
.btn-spec {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  width: 210px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 40px;
  border: 3px solid #393c41;
  color: #555;
}
.btn-spec-active {
  display: inline-block;
  text-align: center;
  width: 210px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 40px;
  border: 3px solid #d0d1d2;
  color: #555;
}
.btn-compare {
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 210px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 40px;
  border: 3px solid #393c41;
  background-color: #393c41;
  color: #f5f5f5;
}
.btn-plus {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #171a20;
}
.btn-plus:hover {
  color: #a1a1a1;
}
.feature-box {
  color: #fff;
  text-align: center;
  display: inline-block;
}
.wl {
  display: inline-block;
  height: 70px;
  border-left: 1px solid #fff;
  margin: 0 30px -10px 30px;
}
.feature-box-vl {
  color: #171a20;
  text-align: left;
  display: block;
}
.hr {
  display: block;
  width: 70px;
  border-top: 1px solid #171a20;
  margin: 30px 0;
}
.hr-small {
  display: inline-block;
  width: 30px;
  border-top: 1px solid #f4f4f4;
  margin-top: 30px;
  margin-bottom: 5px;
}
.container {
  display: block;
  text-align: center;
  position: relative;
  bottom: -70%;
}

/* Typography */
body {
  font-family: "Gotham";
  font-weight: 300;
}
.heading-primary {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: -10%;
}
.heading-secondary {
  font-size: 17px;
  font-weight: 300;
}
.heading-tertiary {
  font-size: 28px;
  line-height: 36px;
  color: #171a20;
  margin-bottom: 20px;
}
.paragraph {
  font-size: 14px;
  font-weight: 300;
  color: #393c41;
}
.feature-heading {
  font-weight: 400;
  font-size: 28px;
  display: inline;
}
.feature-box p {
  font-size: 12px;
  margin-top: 7px;
}
.tinytext {
  font-size: 9px;
  display: block;
}

/* Left Side Nav */
.sidenav {
  position: fixed;
  top: 40%;
  left: 0;
  width: 13%;
  padding-left: 15px;
  z-index: 400;
  left: 1%;
  border: 1px solid;
}
.sidenav ol {
  list-style: none;
  margin: 0;
  padding-top: 15px;
}
.sidenav ol li {
  display: block;
  font-weight: 300;
  width: 73%;
  margin-bottom: 10px;
}
.sidenav ol li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  visibility: hidden;
  text-shadow: 2px 2px 3px black;
}
.sidenav ol li:hover a {
  visibility: visible;
}
.sidenav .wl-sidenav {
  visibility: visible;
  box-shadow: 1px 1px 3px black;
}
.sidenav ol li a:active .wl-sidenav {
  border-left: 4px solid #fff;
}

/* Navbar */
nav {
  position: absolute;
  width: 100%;
}
.middle-nav {
  text-align: center;
}

.middle-nav ol,
.right-nav ol {
  list-style: none;
  margin: 0;
  padding-top: 15px;
}
.middle-nav ol li,
.right-nav ol li {
  display: inline;
  margin-right: 20px;
  font-weight: 400;
}
.middle-nav ol li a,
.right-nav ol li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.right-nav {
  position: absolute;
  top: 0;
  right: 0;
}

.left-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  padding-left: 15px;
}

.logo {
  max-width: 115px;
  max-height: 20px;
  text-align: left;
}

/* model3 section */
.model3 {
  height: 1010px;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop")
    no-repeat center center/cover;
}

/* Bouncing arrow */
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* safety section */
.safety {
  height: 1010px;
  background-color: #fff;
}

.leftside {
  border: 1px solid;
  float: left;
  width: 20%;
  height: 100%;
  background-color: #fff;
  padding: 30px 50px;
}

.logo-pos {
  position: relative;
  bottom: 1%;
  right: 1%;
}

.safety .paragraph {
  line-height: 1.7;
}
.rating-box {
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 20px 20px;
  margin-top: 15px;
}
.rating-box h4 {
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 15px;
  color: #171a20;
}
.rating-box .margin-bottom-small h5 {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #393c41;
}
.rating-box .lefttext,
.rating-box .righttext {
  width: 48%;
  display: inline-block;
}
.rating-box .righttext p {
  margin-bottom: 20px;
  text-align: right;
}

#safety .btn-plus {
  margin: 0 10px 0 0;
}
#safety .margin-top-big {
  text-align: center;
}

.rightside {
  border: 1px solid;
  float: right;
  width: 80%;
  height: 100%;
  background: url("../img/section2.png") no-repeat center center/cover;
}

.returnarrow-pos {
  position: relative;
  bottom: -1%;
  right: -98%;
}

/* section 9 order */
.order {
  height: 1010px;
  background: url("../img/section9.png") no-repeat center center/cover;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  background-color: #000;
  bottom: -100%;
}
.footer ol {
  list-style: none;
  margin: 0;
}
.footer ol li {
  display: inline;
  margin-right: 20px;
}
.footer ol li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
